<p id="notice"><%= notice %></p>

<h1>Legality Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @legality_types.each do |legality_type| %>
      <tr>
        <td><%= legality_type.name %></td>
        <td><%= legality_type.code %></td>
        <td><%= link_to 'Show', legality_type %></td>
        <td><%= link_to 'Edit', edit_legality_type_path(legality_type) %></td>
        <td><%= link_to 'Destroy', legality_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Legality Type', new_legality_type_path %>
